@use "sass:math";

.editor {
  position: relative;

  height: 100%;
  overflow: hidden;

  border-radius: 12px;

  .cropper {
    $point-size: 8px;

    width: 100%;
    height: 100%;

    background-color: var(--app-color-neutral-6);

    :global(.cropper-view-box) {
      border-radius: 50%;
      outline: 2px dashed rgb(255 255 255 / 30%);
    }

    :global(.cropper-crop-box) {
      transition: outline 0.1s ease-out;
    }

    :global(.cropper-crop-box):hover,
    :global(.cropper-crop-box):active {
      outline: 1px solid rgb(255 255 255 / 70%);
    }

    :global(.cropper-line) {
      background-color: transparent;
    }

    :global(.cropper-point) {
      width: $point-size;
      height: $point-size;

      background-color: white;
      border-radius: 50%;
      opacity: 1;

      transition: transform 0.1s ease-out;

      &:hover,
      &:active {
        transform: scale(1.5);
      }
    }

    :global(.point-nw) {
      top: math.div($point-size, -2);
      left: math.div($point-size, -2);
    }

    :global(.point-ne) {
      top: math.div($point-size, -2);
      right: math.div($point-size, -2);
    }

    :global(.point-sw) {
      bottom: math.div($point-size, -2);
      left: math.div($point-size, -2);
    }

    :global(.point-se) {
      right: math.div($point-size, -2);
      bottom: math.div($point-size, -2);
    }

    :global(.point-n) {
      top: math.div($point-size, -2) - 1px;
    }

    :global(.point-e) {
      right: math.div($point-size, -2) - 1px;
    }

    :global(.point-s) {
      bottom: math.div($point-size, -2) - 1px;
    }

    :global(.point-w) {
      left: math.div($point-size, -2) - 1px;
    }
  }

  .zoom-controls {
    position: absolute;
    bottom: 0;
    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;

    padding: 6px 8px 6px 32px;

    pointer-events: none;

    .zoom {
      display: flex;
      flex: 1;
      gap: 12px;
      align-items: center;
      justify-content: center;

      .zoom-out-button,
      .zoom-in-button {
        color: white;

        pointer-events: all;

        &:disabled {
          color: var(--app-color-neutral-11);
        }
      }

      .zoom-icon {
        font-size: 22px;
      }
    }

    .preview-button {
      pointer-events: all;

      .preview-icon {
        font-size: 16px;
      }
    }

    .reset-button {
      pointer-events: all;
    }

    .zoom-slider {
      width: 50%;

      margin: 0;

      pointer-events: all;
    }
  }

  .rotate-controls {
    position: absolute;
    top: 0;
    right: 0;

    display: flex;
    align-items: center;
    height: 100%;
    padding-block: 32px;

    pointer-events: none;

    .rotate-slider {
      position: relative;
      height: 50%;
      margin: 0;

      pointer-events: all;
    }
  }
}
