.photo-placeholder {
  display: flex;
  padding: 80px;

  background-color: #556080;
  border-radius: 12px;

  .icon {
    width: 100%;
    height: 100%;

    color: #fff;
  }

  @media (width <= 512px) {
    padding: 40px;
  }
}
