.password-strength-meter {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  gap: 4px 12px;

  .rule {
    display: flex;
    align-items: center;
    height: 22px;

    .icon {
      width: 14px;
      height: 14px;
      margin-right: 4px;

      color: var(--app-color-neutral-7);
    }

    .title {
      // padding-top: 2px;

      color: var(--app-color-neutral-6);
      white-space: nowrap;
    }

    &.success .icon {
      color: #52c41a;
    }
  }
}
