@use "sass:math";

.cropper {
  $point-size: 8px;

  width: 100%;
  height: 100%;

  background-color: var(--app-color-neutral-6);

  :global(.cropper-container) {
    // width: 100%;
    // height: 100%;
    // aspect-ratio: 1 / 1 !important;
  }

  :global(.cropper-view-box) {
    border-radius: 50%;
    outline: 2px dashed rgb(255 255 255 / 30%);
  }

  :global(.cropper-crop-box) {
    transition: outline 0.1s ease-out;
  }

  :global(.cropper-crop-box):hover,
  :global(.cropper-crop-box):active {
    outline: 1px solid rgb(255 255 255 / 70%);
  }

  :global(.cropper-line) {
    background-color: transparent;
  }

  :global(.cropper-point) {
    width: $point-size;
    height: $point-size;

    background-color: white;
    border-radius: 50%;
    opacity: 1;

    transition: transform 0.1s ease-out;

    &:hover,
    &:active {
      transform: scale(1.5);
    }
  }

  :global(.point-nw) {
    top: math.div($point-size, -2);
    left: math.div($point-size, -2);
  }

  :global(.point-ne) {
    top: math.div($point-size, -2);
    right: math.div($point-size, -2);
  }

  :global(.point-sw) {
    bottom: math.div($point-size, -2);
    left: math.div($point-size, -2);
  }

  :global(.point-se) {
    right: math.div($point-size, -2);
    bottom: math.div($point-size, -2);
  }

  :global(.point-n) {
    top: math.div($point-size, -2) - 1px;
  }

  :global(.point-e) {
    right: math.div($point-size, -2) - 1px;
  }

  :global(.point-s) {
    bottom: math.div($point-size, -2) - 1px;
  }

  :global(.point-w) {
    left: math.div($point-size, -2) - 1px;
  }
}
