.link {
  display: block;
  height: 32px;

  .link-content {
    position: relative;

    display: flex;
    align-items: center;
    height: 100%;

    padding: 0 16px;

    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;

    transition: background-color 0.1s ease-in-out;

    .active-indicator {
      position: absolute;
      top: 50%;
      left: 1px;

      width: 2px;
      height: 30px;

      background-color: var(--primary);

      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      transform: translateY(-50%);

      opacity: 0;

      transition: opacity 0.1s ease-in-out;
    }

    .icon {
      width: 16px;
      height: 16px;

      transition: color 0.1s ease-in-out;
    }

    .label {
      overflow: hidden;
      font-size: 14px;

      white-space: nowrap;
      text-overflow: ellipsis;

      transition:
        color 0.1s ease-in-out,
        opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    }

    .loader {
      position: absolute;
      bottom: 0;
      left: 0;

      width: 100%;
    }

    &:hover {
      background-color: rgb(0 0 0 / 3%);
    }

    &.is-active {
      background-color: var(--sidebar-accent);

      .active-indicator {
        opacity: 1;
      }
    }

    &.is-pending {
      background-color: var(--primary);

      &::after {
        position: absolute;

        background-image: linear-gradient(
          90deg,
          rgba(#fff, 0) 0,
          rgba(#fff, 0.6) 40%,
          rgba(#fff, 0.8) 50%,
          rgba(#fff, 0)
        );
        transform: translateX(-100%);

        animation: shimmer 1s infinite;

        content: "";
        inset: 0;
      }

      @keyframes shimmer {
        100% {
          transform: translateX(100%);
        }
      }
    }
  }
}
